html,body,main{
  height:100%;
}
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color:black;
  z-index: 100;
}
main{
  padding-top:80px;
  padding-bottom: 80px;
}
footer{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: black;
  border:solid 1px #FFA400;
  z-index: 100;
  color:#FFA400;
  margin:0;
}
.fbtn{
  font-size:32px;
  font-weight: 900;
  padding-top: 5px;
}
button{
  width:160px;
}
.row{
  margin-bottom: 5px;
}
.container,.container-fluid {
  /*animation: fadein 0.7s ease-out forwards;*/
}
.fadein{
  animation: fadein 0.7s ease-out forwards;
}
.fadeout{
  animation: fadeout 2.7s ease-out forwards;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
.a_none{
  /*text-decoration: none;*/
  color:inherit;
}
.youkoso{
  position:fixed;
  top:0;
  left:0;
}
.logoff{
  position:fixed;
  top:0;
  right:0;
  color:#FFA400;
  text-decoration: none;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.ib{/*アイコンボタン*/
  width:45px;
  height: 35px;
  padding:2px;
  margin:5px 6px 5px 5px;
  color:#FFA400;
  border:none;
  border-radius: 5px;
  background-color:inherit;
}
#foldertree{
  position: fixed;
  top:50px;
  left:10%;
  width:85%;
  height:85%;
  border:solid 1px #FFA400;
  border-radius: 5px;
  background-color: black;
  overflow:auto;
  padding:8px;
}
#foldertree_close{
  position: fixed;
  top:55px;
  right:6%;
  border:none;
  color:#FFA400;
  padding:4px;
  width: 70px;
  height: 40px;
}
.treeil{
  /*list-style-type:none;*/
}
.treei{
  margin-right:5px;
}
.treeb{/*ツリーボタン*/
  width:45px;
  height: 35px;
  padding:2px;
  margin:5px;
  margin-bottom: 5px;
  color:#FFA400;
  border:solid 1px #FFA400;
}
.tree_input{
  width:100px;
  height: 31px;
  display:inline;
  margin-left: 5px;;
}
.tree_choese{
  background-color:yellow;
  opacity:0.7;
  color: black;
}
#folderopen{
  position: fixed;
  top:0px;
  right:10px;
  border:none;
  color:#FFA400;
}
